{% if project_type == "Library" %}
[build-system]
build-backend = "hatchling.build"
requires = [ "hatchling" ]

{% endif %}
[project]
name = "{{ package_name }}"
version = "0.1.0"
description = "{{ project_description }}"
readme = "README.md"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" },
]
{% if project_type == "Application" %}
requires-python = "=={{ python_version }}"
{% elif project_type == "Library" %}
requires-python = ">={{ min_python_version }},<{{ max_python_version }}"
{% endif %}
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    {% if project_type == "Application" %}
    "Programming Language :: Python :: {{ python_version_minor }}",
    {% elif project_type == "Library" %}
    {% set min_ver = min_python_version.split('.')[-1] | int %}
    {% set max_ver = max_python_version.split('.')[-1] | int %}
    {% for i in range(min_ver, max_ver) %}
    "Programming Language :: Python :: 3.{{ i }}",
    {% endfor %}
    {% endif %}
]

{% if not frameworks %}
dependencies = []
{% else %}
dependencies = [
    {% if "Click" in frameworks %}
    "click==8.4.2",
    {% endif %}
    {% if "FastAPI" in frameworks %}
    "fastapi==0.138.1",
    {% endif %}
    {% if "LangChain" in frameworks %}
    "langchain==1.3.11",
    {% endif %}
]
{% endif %}

[dependency-groups]
dev = [
    {% if use_codecov %}
    "coverage==7.14.3",
    {% endif %}
    "ipdb==0.13.13",
    "ipython==9.15.0",
    {% if use_ty %}
    "ty==0.0.55",
    {% endif %}
    { include-group = "pytest" },
]
pytest = [
    "pytest==9.1.1",
    "pytest-randomly==4.1.0",
    "pytest-xdist==3.8.0",
]

[tool.uv]
# The earliest version that supports the current lock file revision
required-version = ">=0.8.4"
{% if project_type != "Library" %}
package = false
{% endif %}
