# Adapted from https://docs.astral.sh/uv/guides/integration/github/#using-uv-in-github-actions

name: "Tests"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request: ~

permissions:
  contents: read

concurrency:
  {%- raw %}
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  {% endraw %}
  cancel-in-progress: true

env:
  {% if project_type == "Application" %}
  # renovate: datasource=python-version depName=python
  PYTHON_VERSION: {{ python_version }}
  {% endif %}
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.12.5

jobs:
  run-tests:
    name: pytest
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    {% if project_type == "Library" %}
    strategy:
      fail-fast: false
      matrix:
        python-version:
        {% set min_ver = min_python_version.split('.')[-1] | int %}
        {% set max_ver = max_python_version.split('.')[-1] | int %}
        {% for i in range(min_ver, max_ver) %}
          - "3.{{ i }}"
        {% endfor %}
    {% endif %}

    steps:
      - name: Checkout
        uses: actions/checkout@3d3c42e5aac5ba805825da76410c181273ba90b1  # v7.0.1
        with:
          persist-credentials: false

      {# TODO: Find out why the following Jinja tags cause an extra newline #}
      {% if project_type == "Application" %}
      {%- raw %}
      - name: Install uv ${{ env.UV_VERSION }} & Python ${{ env.PYTHON_VERSION }}
        uses: astral-sh/setup-uv@20cfd1bf945f4377ade1205e4dbc17946fc9a30d  # v10.0.1
        with:
          enable-cache: true
          python-version: ${{ env.PYTHON_VERSION }}
          version: ${{ env.UV_VERSION }}

      {% endraw %}
      {% elif project_type == "Library" %}
      {%- raw %}
      - name: Install uv ${{ env.UV_VERSION }} & Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@20cfd1bf945f4377ade1205e4dbc17946fc9a30d  # v10.0.1
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version: ${{ env.UV_VERSION }}

      {% endraw %}
      {% endif %}
      - name: Install Python dependencies
        run: uv sync

      - name: Run tests
        working-directory: ./src
        run: |
          {% if use_codecov %}
          uv run coverage run -m pytest
          uv run coverage report
          uv run coverage xml
          {% else %}
          uv run pytest
          {% endif %}

      {% if use_codecov %}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@fb8b3582c8e4def4969c97caa2f19720cb33a72f  # v7.0.0
        with:
          {%- raw %}
          token: ${{ secrets.CODECOV_TOKEN }}
          {% endraw %}

      {% endif %}
      {% if project_type == "Library" %}
      - name: Build package
        run: uv build

      - name: Install built package
        run: uv pip install dist/*.whl

      - name: Verify import works
        run: uv run python -c "import {{ package_name }}; print({{ package_name }}.__version__)"

      {% endif %}
